.device-simulate {
  width: 90%;
  max-width: 900px;
  margin: 5em auto;
}
.device-simulate-header {
  font-weight: 700;
}
.device-simulate-table {
  width: 100%;
  border-collapse: collapse;
}
.device-simulate-table-thead .device-simulate-table-cell {
  font-size: 1.2em;
  font-weight: 700;
}
