[nav-content] {
  display: flex;
  flex-direction: column;
  flex: 1;
  // Let firefox know the flex container shouldn't escape its own size? Not sure how to simply explain
  // this fix.
  min-width: 0;

  > [ui-view] {
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include mobile-intent {
    flex: none;
    width: 100%;
  }
}
