bold-chat {
  position: fixed;
  bottom: 0;
  right: 70px;
  background: #52C4E0;
  display: block;

  // This prevents the default Boldchat image from displaying
  img {
    display: none;
  }

  a {
    display: block;
    padding: 14px 25px;
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;

    @include mobile-intent {
      font-size: 1.45em;
      padding: 16px 0;
    }
  }

  @include mobile-intent {
    position: absolute;
    width: 100%;
    right: auto;
    left: 0;
  }
}
