.modal {
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  min-height: 500px;
  width: 400px;
  display: block;
  box-sizing: border-box;
  z-index: 999;
  left: 50%;
  h2 {
    text-align: center;
  }
  .remove-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    color: #9da2b0;
  }
  .qr-container {
    text-align: center;
    display: block;
  }
  .copy-wrapper {
    margin-top: 10px;
    text-align: center;
    label {
      text-align: left;
    }
    #copy-target{
      width: 200px;
    }
  }
}

@media ($mobileMax) {
  .modal {
    left: 0;
    top: -20px;
    width: 100%;
  }
  .remove-modal {
    right: 25px;
    top: 15px;
  }
}

.mobile-width {
  .modal {
    left: 0;
    top: -20px;
    width: 100%;
  }
  .remove-modal {
    right: 25px;
    top: 15px;
  }
}