<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Concaria Virtual Device and Dashboard</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/landing/css/main.css">
  </head>
  <body>
    <main>
      <div class="hero">
        <div class="container">
          <header>
            <h1>
              <a href="https://xively.com/">
                <img src="/landing/img/xively-logo.png" alt="Xively by LogMeIn" class="xively-logo">
              </a>
            </h1>
          </header>
<!--           <div class="hero-text">
            <h1 class="congrats">Congratulations!</h1>
            <p class="congrats-subheader">
              You've started your IoT Journey.
            </p>
            <i class="down-arrow-icon">
              <img src="/landing/img/down-arrow.png" alt="" class="down-arrow-img">
            </i>
          </div> -->
        </div>
      </div>
      <div class="app-links">
        <div class="container">
          <h2 class="ready-set-xively">Ready. Set. Xively...</h2>
          <p class="ready-set-xively-subheader">
            Click on the icons below to
            <br>
            see the complete solution.
          </p>
          <ul class="app-link-list">
            <li class="app-link-block dashboard-block">
              <a href="https://app.xively.com" target="_blank">
                <h3>Xively Dashboard</h3>
                <p class="block-detail">Management dashboard for connected products.</p>
              </a>
            </li>
            <li class="app-link-block end-user-block">
              <a href="/manage/#/device/<%= virtualdevice.mqtt.deviceId %>?demo=1" target="_blank">
                <h3>End User View</h3>
                <p class="block-detail">Interact with a connected product and end user app.</p>
              </a>
            </li>
            <li class="app-link-block rules-block">
              <a href="/manage/#/rules" target="_blank">
                <h3>Rules Engine</h3>
                <p class="block-detail">Rules to manage product data flow, ops and support.</p>
              </a>
            </li>
            <li class="app-link-block salesforce-block">
              <a href="https://www.salesforce.com/" target="_blank">
                <h3>Engage Salesforce</h3>
                <p class="block-detail">Product data is given meaning in Salesforce.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="footer-nav-container">
            <h2>
              About Us
            </h2>
            <ul class="footer-nav">
              <li>
                <a href="http://xively.com/whats_xively/">What is Xively?</a>
              </li>
              <li>
                <a href="http://xively.com/partners/">
                  Partners
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-nav-container">
            <h2>
              Learn
            </h2>
            <ul class="footer-nav">
              <li>
                <a href="https://blog.xively.com/">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <div class="etc">
            <a href="https://xively.com/">
              <img src="/landing/img/xively-logo.png" alt="Xively by LogMeIn" width="185" class="xively-logo">
            </a>
            <small class="copyright">
              Copyright © 2003-2016 LogMeIn, Inc.
              <br>
              All rights reserved.
            </small>
            <a href="https://secure.logmein.com/policies/privacy.aspx?" class="legal-link">
              Legal info
            </a>
            <a href="http://xively.com/contact_us/" class="contact-us-link">
              Contact Us
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
