<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Concaria Virtual Device</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/virtual-device">
  <link rel="stylesheet" href="/virtual-device/css/main.css">
  <% include partials/config %>
</head>

<body ng-app="concaria-virtual-device">
  <main ui-view></main>
  <script src="/virtual-device/bundle.js"></script>
  <% include partials/livereload %>
</body>

</html>
