.content-loader {
  display: table;
  width: 100%;
  height: 100%;
}

.content-loader.device {
  margin-top: 100px;
}

.content-loader > div {
  display: table-row;
}

.content-loader > div > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

#status-accurate-loader {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 22.583rem;
}

#status-accurate-loader .progress,
.content-loader .progress {
  top: calc(50% - 2.5rem - 12.5rem);
  width: 100%;
}

/* svg progressbar */

/* Load animation */
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 629;
    -webkit-animation-timing-function: ease-in-out;
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 629;
    animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes progress-indicator {
  0% {
    stroke-dasharray: 0, 208;
    stroke-dashoffset: 208;
    -webkit-animation-timing-function: linear;
  }
  50% {
    stroke-dasharray: 208, 0;
    stroke-dashoffset: 104;
  }
  100% {
    stroke-dasharray: 0, 208;
    stroke-dashoffset: 0;
  }
}

@keyframes progress-indicator {
  0% {
    stroke-dasharray: 0, 208;
    stroke-dashoffset: 208;
    animation-timing-function: linear;
  }
  50% {
    stroke-dasharray: 208, 0;
    stroke-dashoffset: 104;
  }
  100% {
    stroke-dasharray: 0, 208;
    stroke-dashoffset: 0;
  }
}

/* Container */
.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* Item */

.progress svg {
  width: 12.5rem;
  height: 12.5rem;
  stroke: #84c441;
  stroke-width: 10;
}

.progress.progress-tiny svg {
  width: 5rem;
  height: 5rem;
  stroke-width: 10;
}

.progress.progress-tiny > div {
  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0;
  width: 100%;
  text-align: center;
}

.progress svg path {
  fill: none;
  transform: translate(100%, 0) rotate(90deg);
  -webkit-transform: translate(100%, 0) rotate(90deg);
  -moz-transform: translate(100%, 0) rotate(90deg);
  -ms-transform: translate(100%, 0) rotate(90deg);
  -webkit-animation: load 800ms;
  -moz-animation: load 800ms;
  -o-animation: load 800ms;
  animation: load 800ms;
}

#status-accurate-loader .progress svg path,
.content-loader .progress svg path {
  -moz-animation: progress-indicator 800ms infinite;
  -webkit-animation: progress-indicator 800ms infinite;
  -o-animation: progress-indicator 800ms infinite;
  animation: progress-indicator 800ms infinite;
}

.progress .progress-background {
  stroke: #e2e3e3;
  stroke-width: 10;
}

.progress .progress-indicator {
  stroke: #84c441;
  stroke-width: 10;
  stroke-linecap: round;
}
.center-loader {
  margin: 0 auto;
  text-align: center;
  display: block;
}
