/* Alerts ------------------ */

$successTxt: #49A070;
$warningTxt: #BDAF6E;
$infoTxt: #51AED3;
$errorTxt: #D55F5F;

$successBg: #C8EAD2;
$warningBg: #F5F1CD;
$infoBg: #D3F1F7;
$errorBg: #F3CFCF;

$successBorder: #98D5AB;
$warningBorder: #EEDA92;
$infoBorder: #B4E0F4;
$errorBorder: #E69F9F;

.alert {
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  border: 1px $infoBorder solid;
  padding: 0.5em 1.2em;
  border-radius: 5px;
  color: $infoTxt;
  background-color: $infoBg;
  width: 100%;
  text-align: center;
  position: relative;
  .alert-title {
    font-weight: bold;
    margin-bottom: 7px;
  }
  .remove-alert {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
  }
  h3 {
    font-weight: 500;
  }
  &.warning {
    border-color: $warningBorder;
    color: $warningTxt;
    background-color: $warningBg;
  }
  &.error {
    border-color: $errorBorder;
    color: $errorTxt;
    background-color: $errorBg;
  }
  &.success {
    border-color: $successBorder;
    color: $successTxt;
    background-color: $successBg;
  }
  a {
    text-decoration: underline;
  }
}
