.content-panel {
  position: relative;
  @extend .clearfix;
  height: 100%;
  margin-top: 20px;
}


.status-panel {
  float: left;
  width: 590px;
  vertical-align: top;
  position: relative;

  @include mobile-intent {
    float: none;
    width: 100%;
  }
}

.status-accurate {
  margin-bottom: 30px;
}

.panel-list {
  display: flex;

  @include mobile-intent {
    display: block;
  }
}

.panel-head > h2 {
  font-size: 1.5em;
  color: #353e5a;
  font-weight: normal;
  margin: 0;
}

.status-accurate .panel-secondary {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 1rem;
  overflow: hidden;
  margin-left: 2rem;
  width: 33%;
  height: 11.666rem;
  display: block;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 0 rgba(209, 210, 211, 0.35);

  @include mobile-intent {
    width: 100%;
    margin: 0 0 1.4rem;
  }
}

.status-accurate .panel-secondary.panel-secondary-first {
  margin-left: 0;
}

.panel-head {
  display: flex;
  margin-bottom: 10px;

  img {
    display: block;
    margin-left: auto;
    height: 35px;
    width: 35px;
  }
}

.panel-secondary .panel-head > h3 {
  color: #d6d6d6;
  font-size: 1.35em;
  padding: 0 0 1rem 0;
  margin: 0;
  font-weight: normal;
}

.panel-vitality {
  font-size: 1.083em;
  color: #d6d6d6;
  text-align: center;
  line-height: 1em;
}

.panel-vitality.vitality-healthy:before {
  content: "";
  background: url('../img/okay.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.panel-value {
  color: #353e5a;
  font-size: 3.33em;
  text-align: center;
}

.panel-value.icon-thermometer:before,
.panel-value.icon-humidity:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  height: 49px;
  vertical-align: text-bottom;
  display: inline-block;
  margin-right: 0.5rem;
}

.panel-value.icon-thermometer:before {
  background-image: url('../img/thermometer.png');
  width: 15px;
}

.panel-value.icon-humidity:before {
  background-image: url('../img/humidity.png');
  width: 35px;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include mobile-intent {
    position: static;
  }
}

device-details-alert {
  width: 100%;
  position: relative;
  display: block;
}

.sensor-alerts {
  width: 525px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.25);

  @include mobile-intent {
    position: 100%;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}

.sensor-alert.alert {
  font-size: 16px;
  background-color: #ff4833;
  padding: 1em 1.4em;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 0;

  + .alert {
    margin-top: -1px;

    @include mobile-intent {
      margin-top: 0;
    }
  }

  &:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:only-child {
    border-radius: 5px;
  }

  @include mobile-intent {
    border-radius: 0;
    border-width: 0 0 1px;

    &:first-child, &:last-child, &:only-child {
      border-radius: 0;
    }
  }

  .remove-alert {
    top: 7px;
    right: 7px;

    @include mobile-intent {
      top: 9px;
      right: 12px;
    }
  }
}

.status-detailed-buttons {
  display: flex;
}

.sensor-select-button {
  padding: 0;
  color: #9da2b0;
  display: block;
  background: transparent;
  flex: 1;
  position: relative;
  font-size: 1.33rem;
  border: none;
  font-weight: 600;
  width: 7rem;
  height: 4.33rem;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.sensor-select-button.sensor-select-button-selected {
  color: #17bae3;

  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
  }

  &:before {
    top: 0;
    width: 100%;
    height: 5px;
    background: #12b9e2;
  }

  &:after {
    top: 5px;
    left: calc(50% - 6px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #12b9e2;
  }
}

.sensor-actual-value {
  font-size: 6.66em;
  text-align: center;
}

.device-details-chart {
  display: block;
  height: 250px;
  width: 100%;
}

.status-detailed {
  height: 100%;
  background: #fff;

  @include mobile-intent {
    margin-bottom: 1.6rem;
  }
}

.status-ok {
  font-weight: bold;
}

.control-panel {
  @extend .clearfix;
  width: 350px;
  float: left;
  vertical-align: top;
  background-color: #ffffff;
  border: none;
  padding: 20px 25px;
  box-sizing: border-box;
  font-size: 1.5em;
  box-shadow: 1px 1px 1px 0 rgba(209, 210, 211, 0.3);
  margin-right: 20px;

  @include mobile-intent {
    float: none;
    width: 100%;
    margin: 0 0 1.3rem;
  }
}

.control-panel small {
  font-style: italic;
  font-size: 1.2rem;
  color: #8f9394;
}

.control-panel .control-panel-section {
  border-bottom: 2px solid #f9f9f9;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  &:first-child {
    padding-top: 0;
  }
}

.device-connectivity {
  margin-bottom: 25px;
}

.device-more-info {
  font-size: 16px;

  .info-label:first-child {
    margin-bottom: 5px;
  }
}

.control-panel-link {
  button {
    border: 0;
    background: transparent;
    color: #36bdd6;
    font-size: 17px;
    text-decoration: underline;
    float: right;
  }
}

.control-panel .control-panel-section.control-panel-section-last {
  border-bottom: none;
  padding-bottom: 0;
}

.control-panel h1 {
  font-size: 2.9rem;
  font-weight: normal;
  margin: 0 0 2px;
  padding: 0;
  color: #17bae3;
}

.control-panel-section-content {
  padding: 0;
  clear: both;
}

.device-status-label {
  text-align: center;
  font-size: 16px;
  padding: 0 25px;
  margin-bottom: 2rem;

  span {
    font-weight: bold;
  }
}

.device-status-description {
  margin-bottom: 15px;
}

.device-status-description > small {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.fan-state-label {
  font-size: 14px;
  color: #8e9393;
}

.device-status-filter-life {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.device-status-filter-life-value {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3.33rem;
}

.device-status-filter-life-value > .device-status-filter-life-measure {
  font-size: 1.66rem;
  color: #d6d6d6;
}
