.link-bar {
  display: flex;
  a {
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  .frame-link {
    @include hide-if-mobile;
    .iphone-frame-visible & {
      display: block;
    }
    @include demo {
      display: none;
    }
  }

  .new-window-link {
    @include show-if-mobile;
    .iphone-frame-visible & {
      display: none;
    }
     @include demo {
      display: none;
    }
  }

  a.ne-arrow-link{
    margin-left:none;
    @include demo {
      display: none;
    }
  }
}

.return-link {
  color: #6d6e70;
  font-size: 15px;
  img {
    height: 12px;
    width: 12px;
  }
  margin-bottom: 15px;
  @include demo {
    display: none;
  }
}

.ne-arrow-link {
  width: 24px;
  height: 24px;
}

.share-link {
  color: #9da2b0;
  text-decoration: none;
  margin-left: auto;
  margin-right: 10px;
  @include demo {
    margin: -5px 10px 10px auto;
  }
  i {
    cursor: pointer;
    font-size: 2.0em;
  }
}