.dashboard {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;

  .errors {
    padding: 5px;
    color: red;
  }

  @include mobile-intent {
    // This is to ensure that Boldchat doesn't cover up
    // the bottom-most nav item
    padding-bottom: 55px;
  }

  .dashboard-content {
    display: flex;
    flex-direction: row;
  }

  @media ($mobileMax) {
    width: calc(100% - 1rem);

    .dashboard-content {
      flex-direction: column;
    }
  }
}
