@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ojm34g");
  src: url("../fonts/icomoon.eot?#iefixojm34g") format("embedded-opentype"), url("../fonts/icomoon.woff?ojm34g") format("woff"), url("../fonts/icomoon.ttf?ojm34g") format("truetype"), url("../fonts/icomoon.svg?ojm34g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
