.purifier-select-bar {
  height: 30px;
  padding: 10px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #57607E;

  .mode-bar-content {
    width: 970px;
    margin: 0 auto;

    .align-left {
      float: left;
    }

    .align-right {
      float: right;
    }

    .nav-button {
      align-items: center;
      color: #ffffff;
      text-decoration: none;

      .icon {
        width: 45px;
        height: 32px;
        border: 0;
        margin: 0 10px;
      }

      .xi-logo {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        display: inline-block;
        text-transform: none;
        vertical-align: top;
        font-size: 1.5em;
        margin-left: 10px;
        margin-top: 3px;
        color: #ffffff;
      }
      .icon-xi-logo:before {
        content: "\e645";
      }
    }
  }
}

.mode-selector {
  height: 30px;
  width: 170px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  background: #8284A7;
  color: #ffffff;
  border: 1px solid #57607E;
  font-size: 1em;
}
