body {
  color: #fff;
  background-color: #343D58;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

purifier-main .container {
  position: relative;
  width: 970px;
  margin: 0 auto;
}
