.purifier-controls {
  position: absolute;
  top: 20px;

  .home & {
    width: 680px;
    left: calc(50% - 300px);
  }

  .industrial & {
    width: 1000px;
  }
}

.purifier-device {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100px;

  .home & {
    height: 790px;
    background-image: url('/virtual-device/img/device-outline.png');
  }

  .industrial & {
    height: 500px;
    background-image: url('/virtual-device/img/industrial-outline.png');
    background-position-y: 135px;
  }
}

.home {
  .purifier-device-switch {
    position: absolute;
    top: 347px;
    left: 330px;
    width: 28px;
    height: 70px;
    cursor: pointer;

    .fan-speed-indicator {
      position: absolute;
      left: calc(50% - 7px);
      top: 48px;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: #fff;
    }

    .fan-speed-indicator.speed-2 {
      top: 19px;
    }

    .fan-speed-indicator.speed-1 {
      top: 35px;
    }

    .fan-speed-indicator.speed-0 {
      top: 54px;
      background-color: #FF6087;
    }

    ul {
      position: absolute;
      top: 10px;
      right: -35px;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 11px;
      text-transform: uppercase;
    }

    li {
      margin: 5px 3px;
    }
  }
}

.industrial {
  .purifier-device-switch {
    position: absolute;
    top: 400px;
    right: 130px;
    width: 28px;
    height: 70px;
    cursor: pointer;
    border: 1px solid #57607E;
    border-radius: 14px;

    .fan-speed-indicator {
      position: absolute;
      left: calc(50% - 8px);
      top: 40px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #fff;
    }

    .fan-speed-indicator.speed-2 {
      top: 9px;
    }

    .fan-speed-indicator.speed-1 {
      top: 25px;
    }

    .fan-speed-indicator.speed-0 {
      top: 44px;
      background-color: #FF6087;
    }

    ul {
      position: absolute;
      top: -10px;
      right: -50px;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
      text-transform: uppercase;
    }

    li {
      margin: 10px 3px;
    }
  }
}

.purifier-device-toggle {
  position: absolute;
  color: rgb(244,187,58);
  z-index: 2000;
}

.purifier-device-toggle-btn {
  cursor: pointer;
  position: relative;
  width: 44px;
  height: 44px;
  z-index: 2000;

  &:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 11px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(244,187,58);
    opacity: 0.5;
  }

  &:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 16px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(244,187,58);
  }
}

.purifier-device-toggle-label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  width: 100px;
  z-index: 1000;
}

%purifier-device-toggle-label-center {
  left: calc(50% - 50px);
  text-align: center;
}

%purifier-device-toggle-label-bottom {
  bottom: -9px;
}

%purifier-device-toggle-label-top {
  top: -9px;
}

%purifier-device-toggle-label-left {
  text-align: right;
  right: 15px;
}

%purifier-device-toggle-label-right {
  left: 15px;
}

%purifier-device-toggle-label-far-right {
  left: 24px;
}

@mixin purifier-device-toggle-label-position($x, $y) {
  .purifier-device-toggle-label {
    @extend %purifier-device-toggle-label-#{$x};
    @extend %purifier-device-toggle-label-#{$y};
  }
}

.purifier-device-toggle.active {
  color: rgb(151,210,224);

  .purifier-device-toggle-btn:before {
    background-color: rgb(151,210,224);
  }

  .purifier-device-toggle-btn:after {
    background-color: rgb(151,210,224);
  }
}

.home, .industrial {
  .toggle-no2, .toggle-dust, .toggle-co {
    @include purifier-device-toggle-label-position("center", "bottom");
  }

  .toggle-temp, .toggle-humidity {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-top;
    }
  }

  .toggle-filter {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-bottom;
    }
  }
}

.home {
  .toggle-temp {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-left;
    }
  }

  .toggle-filter {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-center;
    }
  }

  .toggle-humidity {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-right;
    }
  }
}

.industrial {
  .toggle-temp, .toggle-humidity {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-center;
    }
  }

  .toggle-filter {
    .purifier-device-toggle-label {
      @extend %purifier-device-toggle-label-far-right;
    }
  }
}

.home {
  .toggle-no2 {
    top: 155px;
    left: 120px;
  }

  .toggle-dust {
    top: 165px;
    left: 323px;
  }

  .toggle-co {
    top: 154px;
    right: 119px;
  }

  .toggle-humidity {
    top: 364px;
    left: 104px;
  }

  .toggle-temp {
    top: 364px;
    right: 101px;
  }

  .toggle-filter {
    top: 604px;
    left: 109px;
  }
}

.industrial {
  .toggle-no2 {
    top: 105px;
    left: 260px;
  }

  .toggle-dust {
    top: 140px;
    left: 440px;
  }

  .toggle-co {
    top: 140px;
    right: 315px;
  }

  .toggle-humidity {
    top: 415px;
    left: 265px;
  }

  .toggle-temp {
    top: 415px;
    right: 350px;
  }

  .toggle-filter {
    top: 352px;
    left: 55px;
  }
}
