.purifier-title {
  position: absolute;
  left: 0;
  top: 0;
}

.purifier-title .purifier-title-device {
  font-size: 30px;
  font-weight: bold;
  height: 40px;
}

.purifier-title .purifier-title-creation-date {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #57607E;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.purifier-title .purifier-title-powered-by {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.purifier-title .purifier-title-creation-date date {
  color: #92CFDE;
}

.xively-logo {
  width: 160px;
}
