dashboard-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 1rem;
  border: 1px solid #E6E6E7;
  background: white;
  width: auto;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media ($mobileMax) {
    flex: none;

    &:first-child, &:last-child {
      margin: 1rem;
    }
  }
}

.dashboard-cell-icon {
  width: 8rem;
  height: 8rem;
  margin: 2.6rem;
}

.dashboard-cell-spacer {
  width: 90%;
  border: 1px solid #F2F4F6;
}

.dashboard-cell-link {
  display: block;
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
  color: $linkBlue;
  text-decoration: none;
}

.dashboard-cell-link-icon {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0 1rem;
  display: inline;
  vertical-align: baseline;
}

.dashboard-cell-loader {
  padding: 0.6rem;
}
