@import '../../../style/variables.less';

boldchat {
  position: absolute;
  display: block;
  max-height: 530px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;

  .boldchat-button {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    background: #52C4E0;
    cursor: pointer;

    p {
      text-align: center;
      color: #fafafa;

      svg {
        display: inline-block;
        height: 20px;
        fill: #fafafa;
      }
    }
  }
}

#bc-chat-container {
  display: none !important;
  width: 380px !important;
  max-width: 100%;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;

  &.show {
    display: block !important;
  }
}

#bc-frame {
  width: 100% !important;
}

.bc-frame-content-container {
  width: 100% !important;
}
