.rules-dashboard {
  position: relative;
  header {
    margin-bottom: 5px;
    h1 {
      font-weight: 400;
      font-size: 2.5em;
    }
    .button-group{
      font-size: 1.2em;
      top: 0;
    }
  }
  .dashboard-content {
    position: relative;
    display: block;
  }
  .alert {
    margin-bottom: 20px;
  }
  ul {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    &.condition-list li {
      padding: 0;
    }
    &.rule-list li {
      border-bottom: 1px solid #E6E6E6;
      a {
        font-size: 16px;
      }
    }
  }
  li {
    position: relative;
    list-style: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    a {
      padding: 1.2em 0.4em;
      display: block;
      &:hover {
        background-color:#f8f8f8;
      }
    }
  }
  .button-group {
    font-size: 1.5em;
    position: absolute;
    color: #c9c9c9;
    right: 0;
    top: 20px;
    i {
      padding: 0 5px;
      &:hover {
        color: #797979;
      }
    }
  }
}
.rules-wrapper {
  background: white;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 50px;
  h2 {
    color: #3D3D3D;
    font-weight: normal;
    font-size: 1.85em;
    border-bottom: solid 1px #E6E6E6;
    padding-bottom: 10px;
  }
}
