@import '../../style/variables.less';

share {
  .header {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
  }

  .copy-link, .send-link {
    margin-top: 20px;

    input {
      width: 305px;
      height: 30px;
      border: 1px solid fade(@dark-gray, 50%);
      border-radius: 0;
      box-shadow: none;
      font-size: 0.8em;
    }
  }

  .copy-button, .send-button {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: @light-blue;
    margin-right: 10px;
    cursor: pointer;
  }
}
