.pill-link {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  font-size: 13px;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  border-radius: 22px;
  text-align: center;

  &:hover {
    color: #e1412b;
    text-decoration: none;
    background-color: #fff;
  }
}
