@import '../style/variables.less';

device-form {
  form {
    .form-row {
      padding: 0.2em 1em;
      margin-top: 13px;
      display: flex;

      label {
        flex: 0.12;
        line-height: 34px;
        height: 34px;
        font-size: 0.8em;
        font-weight: 500;
        width: 12%;
        margin: 0;
      }

      input {
        width: 100%;
        margin: 0;
        height: 34px;
        font-size: 0.8em;
        border: none;
        border-radius: 0;
        background: @light-gray;
        box-shadow: 2px 2px 3px 1px @box-shadow;
        appearance: none;
        padding: 0 12px;
      }

      .input-field {
        flex: 0.88;
      }

      .inputs {
        display: flex;
        flex: 0.88;

        .floating-label-group {
          position: relative;
          display: inline-block;
          width: 86%;
          vertical-align: middle;
          flex: 1;

          &:not(:first-child) {
            margin-left: 5px;
          }

          .input-field {
            font-size: 14px;
            width: 100%;

            &:focus ~ .label, &.ng-dirty ~ .label, &.ng-not-empty ~ .label {
              top: -13px;
              left: 5px;
              font-size: 11px;
              color: @navy-blue;
            }
          }

          .label {
            color: @dark-gray;
            font-size: 14px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 10px;
            top: 10px;
            transition: 0.2s ease all;
          }
        }
      }

      small {
        color: @dark-gray;
        margin-left: 12%;
        padding-left: 10px;
      }

      tags-input {
        flex: 0.88;
        height: 34px;
        display: inline-block;
        vertical-align: bottom;

        .host {
          margin-top: 0;
        }

        .tags {
          padding-left: 5px;
          font-size: 0.8em;
          height: 34px;
          border: none;
          background: @light-gray;
          box-shadow: 2px 2px 3px 1px @box-shadow;

          .input {
            background: transparent;
            border-radius: 0;
            box-shadow: none;
          }

          .tag-item {
            margin-top: 4px;
            background: #2196F3;
            color: @light-gray;

            .remove-button {
              color: @light-gray;
            }
          }
        }
      }
    }
  }
}
