.device-list {
  width: 90%;
  max-width: 900px;
  margin: 1em auto;
}
.device-list-header {
  font-weight: 400;
  font-size: 2.5em;
}
.device-list-table {
  font-size: 1.2em;
  width: 100%;
  border-collapse: collapse;
}
.device-list-table-thead {
  color: #8f9394;
  .device-list-table-header {
    font-weight: 400;
  }
  .sortable-table-header-active {
    color: #17bae3;
    &.sortable-table-header::before {
      display: inline-block;
      margin-right: 0.2em;
      position: relative;
      top: -2px;
    }
    &.sortable-table-header-asc::before {
      content: "↓";
    }
    &.sortable-table-header-desc::before {
      content: "↑";
    }
  }
}
.device-list-table-icon {
  height: 1em;
}
.device-list-table-tbody {
  .device-list-table-row:hover {
    color: #17bae3;
  }
  .device-list-cell-provisioning {
    text-transform: capitalize;
  }
}
.device-list-table-header,
.device-list-table-cell {
  padding: 1.2em 0.4em;
  border-bottom: 1px solid #777;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    padding-right: 0;
  }
}
.device-loader {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
}
.device-list-select {
  @include show-if-mobile;
  margin: 2em 0;
  font-size: 1.3em;
  line-height: 2em;
  height: 2em;
}
.device-list-select-title {
  float: left;
  display: block;
}
.device-list-select-container {
  float: right;
  display: block;
  position: relative;
  border: 1px solid #17bae3;
  color: #17bae3;
  background: #fff;
  border-radius: 1em;
  height: 2em;
  &::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    width: 1.9em;
    padding-right: 0.1em;
    text-align: center;
    content: "▼";
    border-left: 1px solid #17bae3;
  }
}
.device-list-select-select {
  display: inline-block;
  color: #17bae3;
  padding: 0 3em 0 1em;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media ($mobileMax) {
  .device-list-table-tbody {
    .device-list-table-row {
      border-top: 1px solid #777;
    }
    .device-list-table-cell {
      padding: 0.6em 0 0.6em 50%;
      text-align: right;
      &::before {
        color: #8f9394;
      }
    }
  }
}
